<!DOCTYPE html>
<html lang="en">
       
    <%- include('../partials/head', { title: 'Main page'}) %>
<body>
    <h1>Sveikas pasauli</h1>
    <div id="chatbox"></div>
        <input type="text" id="username">
        <input type="text" id="input">
        <button id="send">Send</button>
    
    <script src="script.js"></script>
</body>
</html>